body{
    margin: 0;
    padding: 0;
    border: 0;
}
.contr{
  min-width: 480px;
  max-width: 1440px;
}
.head{
    width: 100%;
    
}
.php14{
  width: 100%;
}
.rh-flex-center-align {
    align-items: center;
    display: flex;
    flex-direction: row;
}
.txt_1{
    
    text-align: center;
    padding: 30px 30px 0px 30px
}
span{
    text-align: center;
    font-size: 60;
    font-family: sans-serif;
}
.first_cont{
    margin:0% 5.5% 0.69% 5.5%;
   
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 10%);
}
p{
    font-size: 30;
    font-family: sans-serif;
    float:left;
}
h1{
    font-family: sans-serif;
    margin-top: 20
}
.f3{
  margin: 0% 0% 0.69% 18%;
  width: 29%;
}
body {margin:0;}

.catalog{
  margin: 1.4% 6% 0.69% 6%;
}
.card {
  width: 225px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  transition: 0.2s;
  position: relative;
  margin: 20px 0px 1px 0px;
}

.card:hover {
  box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}

.card__top {
  flex: 0 0 220px; 
  position: relative;
  overflow: hidden;
}
  .card__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.2s;
}
.card__image:hover > img {
  transform: scale(1.1);
}
.card__label {
  padding: 4px 8px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #ff0000;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  font-family: sans-serif;
}

.card__bottom {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 10px;
}

.card__prices {
  display: flex;
  margin-bottom: 10px;
  flex: 0 0 50%; 
}

.card__price::after {
  content: "₽";
  margin-left: 4px;
  position: relative;
}

.card__price--discount {
  font-weight: 700;
  font-size: 19px;
  color: #414141;
  display: flex;
  flex-wrap: wrap-reverse;
}

.card__price--discount::before {
  content: "Со скидкой";
  font-weight: 400;
  font-size: 13px;
  color: #bfbfbf;
}

.card__price--common {
  font-weight: 400;
  font-size: 17px;
  color: #606060;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.card__price--common::before {
  content: "Обычная";
  font-weight: 400;
  font-size: 13px;
  color: #bfbfbf;
}

.card__title {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #414141;
}

.card__title:hover {
  color: #ff6633;
}

.card__add {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  color: #70c05b;
  padding: 10px;
  text-align: center;
  border: 1px solid #70c05b;
  border-radius: 4px;
  cursor: pointer; 
  transition: 0.2s;
  margin-top: auto; 
}

.card__add:hover {
  border: 1px solid #f02424;
  background-color: #f02424;
  color: #fff;
}
.carde{
  display: inline-block;
  margin-left: 8%;
  width: 18%;
}
.container.flex-test-wrap {
  margin:1.39% 8.7% 0.69% 8.7%;
  box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 10%);
  padding: 10px 0px 20px 25px;
}
.php{
  width:100 ;
  height: 214;
}
.cat{
  text-align: center;
}
.pouring {
  font-size: 40px;
  line-height: 50px;
  font-family: Verdana, sans-serif;
  font-weight: 900;
  position: relative;
  background: white;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;

}
.pouring:before {
  content: '';
  position: absolute;
  filter: blur(10px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 1em, #ff0000 1em, #f8f8f8 50%), repeating-linear-gradient(45deg, #f02d3e, #ff0000 1em, #FFF 1em, #ffffff 50%);
  background-size: 3em 3em, 2em 2em;
  animation-name: ani;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes ani {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 100% 0;
  }
}
@media (max-width:690px) {    
  .pouring {font-size: 20px;}    
}
.in_cat{
  text-align: center;
  font-size: 30;
  font-family: sans-serif;
}
.ads{
  margin: 1% 5.5% 0.69% 5.5%;
  box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 10%);
  border-radius: 10px;
  padding: 20px 0px 20px 0px;
}
.adse{
  display: inline-block;
  margin:20px 0px 2px 100px;
  width: 36%;
  height: 56%;
}
.ad_1{
  width:100%;
  background-color: #F5F5F7;
  flex-direction: column;
  box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 10%);
  border-radius: 10px;
}
.p_ad{
  text-align: center;
  font-family: sans-serif;
}
.ad_2{
  width:100%;
  background-color: #12203B;
  flex-direction: column;
  box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 10%);
  border-radius: 10px;
}
.ad_3{
  width:100%;
  background-color: #000000;
  flex-direction: column;
  box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 10%);
  border-radius: 10px;
}
.ad_4{
  width:100%;
  background-color: #ffffff;
  flex-direction: column;
  box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 10%);
  border-radius: 10px;
}
.p_ad1{
  text-align: center;
  font-family: sans-serif;
  color: #ffffff;
}
.php_24{
  border-radius: 10px;
  width: 95%;
}
.php25{
  width: 100%;
}
.php26{
  width: 88%;
  border-radius: 10px;
  margin: 1.4% 5.5% 0.7% 5.5%;
}
.airpods{
  border-radius: 10px;
  margin: 1.3% 5.5% 0.69px 5.5%;
  box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 10%);
  padding: 0% 0% 2.37% 0%;
}
.pods{
  font-size: 30;
  font-family: sans-serif;
  float:left;
  margin: 2.4% 0% 0% 9.88%;
}
.php30{
  margin-top: 1.6%;
  width: 40.5%;
}
.aircat{
  display: inline-block;
}
.watchs{
  border-radius: 10px;
  margin: 20px 80px 10px 80px;
  box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 10%);
  padding: 0px 0px 20px 0px;
}
.product{
  padding-left: 30px;
}
.carde_pod{
    display: inline-block;
    margin-left: 50;
    width: 18%;
}
.carde_watch{
  display: inline-block;
  margin-left: 50;
  width: 19%;
}
.php45{
  width: 1280;
  border-radius: 10px;
  margin: 20px 80px 10px 80px;
}
.php46{
  margin: 1.6% 0% 0% 12%;
  width: 30%;
}
.php51{
  margin: 20px 80px 0px 80px;
  width: 1280;
  border-radius: 10px;
}
.book{
  display: inline-block;
  text-align: center;
  margin-left: 150;
}
.php53{
  margin: 1.6% 0% 0% 17%;
  width: 31%;
}
.footer{
  margin: 20px 80px 10px 80px;
}
.pfoot{
  font-size: 14;
  font-family: sans-serif;
  color: #383838;
}
.d8 {
     
    padding: 1.7% 2.6%;
    background: #EA2727;
    margin: 1.4% 6% 0.69% 6%;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 10%);
    width: 82%;
}
.d8:after {content:""; clear:both; display:table}
.d8 form {
  width: auto;
  margin-right: 30px;
}
form{
    display: inline;
    margin-left: 20%;
}
.d8 input {
  width: 50%;
  height: 70px;
  padding-left: 15px;
  border-radius: 42px;
  border: 1px solid #000000;
  background: #ffffff;
  outline: none;
  position: relative;
  transition: .3s linear;
  text-align: center;
}
.d8 input:focus {
  width: 55%;
  height: 60;
}
.d8 button {
  width: 42px;
  height: 42px;
}
.d8 button:before{
  content: "\f002";
  font-family: sans-serif;
  color: #ffffff;
}
::placeholder{
    color: #c4c3c3;
    font-size: 18;
}
/* Оформление панели */
#side-checkbox {
     display: none;
}
.side-panel {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: -360px;
    background: #EA2727;
    transition: all 0.5s;   
    width: 22%;
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #FFF;
    padding: 40px 20px;
}
.side-title {
    font-size: 20px;
    font-family: sans-serif;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #BFE2FF;
}
/* Оформление кнопки на странице */
.side-button-1 {
    display: inline-block;
     
}
.side-button-1 .side-b {
    margin: 10px;
    text-decoration: none;
    float: left;
}
.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
    color: #FFF;
}
.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
    position: absolute;
    height: 4px;
    left: 50%;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}
.side-button-1{
  width: 77%;
}
/* Переключатели кнопки 1 */

#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
    display: block;
}
#side-checkbox:checked + .side-panel {
    left: 0;
}
/* Оформление кнопки на панеле */
.side-button-2 {
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #BFE2FF;    
    transition: all 280ms ease-in-out;    
}
.side-button-2:hover {
    transform: rotate(45deg) scale(1.1);    
    color: #FFF;
}
.side-button-1-wr{
    display: inline-block;
}
li{
    font-size: 20;
    font-family: sans-serif;
    margin: 20;
}
.one ul {
    padding: 1em 0;
    background: #EA2727;
    border-radius: 10px;
  }
  .one a {
    padding: 1em;
    color: #ffffff;
    border-radius: 10px;
  }
  .two ul {
    background: #000000;
    padding: 0;
  }
  ul {
    list-style: none; 
    margin: 0 auto;
  }
  a {
    text-decoration: none;
    font-family: sans-serif;
    transition: .5s linear;
  }
@media screen and (max-width: 1200px) {
  p{
    font-size: 25;
  }
  .card__image > img {
    width: 80%;
  }
  .card{
    width: 206;
  }
  
  .p_ad,.p_ad1{
    font-size: 24;
  }
  .pods{
    font-size: 25;
  }
}
@media screen and (max-width: 1100px) {
  .pods{
    font-size: 21;
  }
  .adse{
    height: 42%;
  }
}
@media screen and (max-width: 1000px) {
  .card__image > img {
    width: 90%;
  }
  .carde_pod{
    width: 15%;
  }
  .card{
    width: 126;
  }
  .carde_watch{
    width: 17%;
  }
  
  p{
    font-size: 22;
  }
  .pfoot{
    font-size: 22;
  }
  .card__title {
    font-size: 16;
  }
  .card{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0)
  }
  .php30{
    width: 20%;
  }
  .php53{
    margin-left: 20;
  }
}
@media screen and (max-width: 900px) {
  p{
    font-size: 20;
  }
  .pfoot{
    font-size: 20;
  }
  .php30{
    width: 30%;
  }
  .php46{
    width: 25%;
  }
  .f4{
    display: none;
  }
  a{
    font-size: 18;
  }
  .pods{
    font-size: 18;
  }
}
@media screen and (max-width: 840px) {
  .pods{
    font-size: 17;
  }
  p{
    font-size: 18;
  }
  .pfoot{
    font-size: 18;
  }
  h1{
    font-size: 25;
  }
  .in_cat{
    font-size: 22;
  }
  .pouring{
  font-size: 30px;
  }
  .ads{
    display: none;
  }
}
@media screen and (max-width: 823px) {
  .card__image > img {
    width: 100%;
  }
  .card__title {
    font-size: 14;
  }
  .card{
    width:100%;
  }
  .carde_watch{
    margin-left: 30;
  }
  li{
    font-size: 14;
  }
  .book{
    margin: 0 auto;
  }
}
@media screen and (max-width: 803px) {
  .pods{
    font-size: 17;
  }
  .card__image > img {
    width: 70%;
  }
}
@media screen and (max-width: 747px) {
  .pods{
    font-size: 16;
  }
  .pouring{
    font-size: 24;
  }
  .php53{
    margin-left:30 ;
  }
  .php46{
    margin-left: 20;
  }
  .php30{
    width:20%;

  }
  .f3{
    margin-left: 25;
  }
  .card {
    width: 180%;
  }
}

@media screen and (max-width: 690px) {
  .card__title {
    font-size: 13;
  }
  .card__top{
    height: 50;
  }
  .carde_pod{
    margin-left: 33;
  }
  .carde_watch{
    margin-left: 20;
  }
  .pouring{
    font-size: 20;
  }
}
@media screen and (max-width: 647px) {
  .php30{
    width: 20%;
  }
  .pods{
  font-size: 13;  
  }
  .head_wrap{
    width: 480;
    margin:0 auto;
  }
  .d8 input{
    width: 45%;
    height: 7%;
  }
  .d8 input:focus {
    width: 50%;
    height: 7%;
  }
  .side-button-1-wr{
    width: 12%;
  }
  .card {
    width: 180%;
  }
}
@media screen and (max-width: 595px) {
  p{
    font-size: 13;
  }
  .pfoot{
    font-size: 13;
  }
  h1{
    font-size: 14;
  }
  .pouring{
    font-size: 18;
  }
  .card {
    width: 180%;
  }
}
@media screen and (max-width: 541px) {
  .php53,.php46{
    margin-left: 10;
  }
  .d8 input{
    width: 40%;
    height: 5%;
  }
  .d8 input:focus {
    width: 45%;
    height: 5%;
  }
  .card_title{
    font-size: 12;
  }
  ::placeholder{
    font-size: 12;
  }
  .pfoot{
    font-size: 12;
  }
}
@media screen and (max-width: 509px) {
  .php53,.php46{
    margin-left: 0;
  }
}
@media screen and (max-width: 494px) {
  .pods{
    font-size: 12;
  }
  p,a{
    font-size: 12;
  }
  .pfoot{
    font-size: 10;
  }
  .pouring{
    font-size: 16;
  }
  .in_cat{
    font-size: 15;
  }
  .card {
    width: 150%;
  }
}