.form_auth_block{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    background-size: cover;
    border-radius: 4px;
    box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 10%);
}
.form_auth_block_content{
  padding-top: 15%;
}
.form_auth_block_head_text{
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    background: #ffffff;
    opacity: 0.7;
}
.form_auth_block label{
    display: block;
    text-align: center;
    padding: 10px;
    background: #ffffff;
    opacity: 0.7;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form_auth_block input{
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 45px;
  border-radius: 10px;  
  border:none;
  outline: none;
}
input:focus {
  color: #000000;
  border-radius: 10px;
  border: 2px solid #EA2727;
}
.form_auth_button{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    height: 35px;
    border: none;
    cursor: pointer;
    background-color: #EA2727;
}
::-webkit-input-placeholder {color:#3f3f44; padding-left: 10px;}
::-moz-placeholder          {color:#3f3f44; padding-left: 10px;} 
:-moz-placeholder           {color:#3f3f44; padding-left: 10px;} 
:-ms-input-placeholder      {color:#3f3f44; padding-left: 10px;}
h1,b,p,label{
    font-family:sans-serif ;
}