{% load static %}


<html>
	<head>
		<title>AppleRedStore - Login</title>
		<link rel="stylesheet" href="{% static 'red/css/login.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
<div class="form_auth_block">
  <div class="form_auth_block_content">
    <p class="form_auth_block_head_text">Авторизация</p>
    <!-- {% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert"
        style="margin-top: 50px;">
        {{ form.errors }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %} -->
    <form class="form_auth_style" action="{% url 'users:login' %}" method="post">
      {% csrf_token %}

      <label for="{{ form.username.id_for_label }}">Введите Вашу электронную почту</label>
      {{ form.username }}
      
      <label for="{{ form.password.id_for_label }}">Введите Ваш пароль</label>
      {{ form.password }}
      <button class="form_auth_button" type="submit" name="form_auth_submit">Войти</button>
    </form>
    <div class="container signin">
      <p>У вас еще нет аккаунта? <a href="{% url 'users:registration' %}">Зарегистрироваться</a>.</p>
    </div>
  </div>
</div>
</body>
</html>