Здравствуйте!

Вы получили это письмо, потому что запросили сброс пароля на нашем сайте. Чтобы изменить свой пароль, следуйте инструкциям ниже:

1. Перейдите по следующей ссылке для сброса пароля:
    {{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

2. По этой ссылке вы будете перенаправлены на страницу сброса пароля.

3. После ввода нового пароля, нажмите кнопку "Далее".

4. После успешного сброса пароля вы сможете войти на сайт, используя ваш новый пароль.

Если вы не запрашивали сброс пароля, пожалуйста, проигнорируйте это сообщение. Если у вас есть какие-либо вопросы или заботы, свяжитесь с нами по адресу AppleRedStore@yandex.ru.

С уважением, Red Store