body{
    min-width: 480;
    max-width: 1440;
}
.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    box-shadow: 10;
  }
  .vvod input{
    font-size: 22;
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 20%;
    border-radius: 30px;  
    border:none;
    outline: none;
    border: solid 1px #c7c7c7;
    text-align: center;
  }
  input:focus {
    color: #000000;
    border-radius: 10px;
    border: 2px solid #EA2727;
  }
  .first_cont{
   background-color:#fff;
   height: 45%;
   width: 28%;
   position: absolute;
   top: calc(50% - 200px);
   left:0;
   right:0;
   margin: 0 auto;
    border-radius: 30px;
    box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 10%);
  }
.met{
    color: #000000;
}
p{
    color: #000000;
    font-size:19 ;
    font-family: sans-serif;
    text-align: center;
}
.txt{
    margin: 60px 20px 50px 20px;
}
.vvod{
    text-align: center;
}
.cont{
    text-align: center;
    margin-top: 20;
}
.but{
   width: 90;
    height:45 ;
    border-radius: 10px;
    font-size: 20;
    font-family: sans-serif; 
    color: #ffffff;
    background-color: #272727;
}
.logo{
    color: #000000;
    font-family:monospace;
    font-size: 30;
}
.log{
    text-align: center;
}
.met{
    display: none;
}
@media screen and (max-width: 1200px) {
    .logo{
        font-size: 26;
    }
    p{
        font-size: 19;
    }
    .vvod input{
        font-size: 18;
    }
}
@media screen and (max-width: 1000px) {
    .but{
        width: 88;
        height:40 ;
        border-radius: 10px;
        font-size: 18;
    }
    .txt{
        margin: 40px 0px 50px 0px;
    }
}
@media screen and (max-width: 800px) {
    .logo{
        font-size: 27px;
    }
    p{
        font-size: 19px;
    }
    .vvod input{
        font-size: 18;
    }
    .txt{
        margin: 40px 0px 60px 0px;
    }
    .vvod input{
        width: 200px;
        height: 55px;
        font-size: 16;
    }
    .but{
        font-size: 16;
    }
    .first_cont{
        height: 43%;
        width: 43%;
    }
}
@media screen and (max-width: 650px) {
    .logo{
        font-size: 24;
    }
    p{
        font-size: 18;
    }
    .vvod input{
        font-size: 18;
    }
    .txt{
        margin: 40px 0px 60px 0px;
    }
    .vvod input{
        width: 188px;
        height: 54px;
        font-size: 15px;
    }
    .but{
        font-size: 16;
    }
    .first_cont{
        height: 43%;
        width: 43%;
    }
}
@media screen and (max-width: 550px) {
    .logo{
        font-size: 24;
    }
    p{
        font-size: 18;
    }
    .vvod input{
        font-size: 18;
    }
    .txt{
        margin: 40px 0px 50px 0px;
    }
    .vvod input{
        width: 188px;
        height: 54px;
        font-size: 15px;
    }
    .but{
        font-size: 16;
    }
    .first_cont{
        height: 43%;
        width: 60%;
    }
}
@media screen and (max-width: 480px) {
    .logo{
        font-size:  26px;
    }
    p{
        font-size: 18;
    }
    .vvod input{
        font-size: 18;
    }
    .txt{
        margin: 40px 0px 50px 0px;
    }
    .vvod input{
        width: 220px;
        height: 60px;
        font-size: 15px;
    }
    .but{
        font-size: 16;
    }
    .first_cont{
        height: 43%;
        width: 60%;
    }
}