{% extends 'products/base.html' %}
{% load static humanize %}



{% block title %}
{{ title }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'red/css/catalog.css' %}"/>
{% endblock %}

{% block content %}
{% for product in object_list %}
    <div class="carde">
    <div class="card">
            <div class="card__top">
                <a href="#" class="card__image"><img src="{{ product.image.url }}" alt="Apple IPhone 14 PRO Max Gold"/></a>
                <div class="card__label">{{ product.discount|intcomma }}%</div>
            </div>
            <div class="card__bottom">
                <div class="card__prices">
                    <div class="card__price card__price--discount">{{ product.discount_price|intcomma }}</div>
                    <div class="card__price card__price--common">{{ product.price|intcomma }}</div>
                </div>
                <a href="#" class="card__title">
                    {{ product.name }}
                    {{ product.color }}
                </a>
                <a href="{% url 'products:basket_add' product.id %}">
                    <button class="card__add">В корзину</button>
                </a>
            </div>
    </div>
    </div>
{% endfor %}
{% endblock %}