{% extends 'products/base.html' %}
{% load static %}



{% block title %}
{{ title }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'red/css/index.css' %}"/>
{% endblock %}


{% block content %}
    <div class="txt_1">
        <span>Вся линейка iPhone <br>по самой лучшей цене</span>
    </div>
    <div class="first_cont">
        <div class="txt_2">
        <h1>iPhone 14. Большой.И пребольшой.<h1>
        <p>Встречайте iPhone 14 и 
        <br>большой iPhone 14 Plus. С 
        <br>функцией распознавания аварий. Сроком 
        <br>службы батареи больше, чем когда-либо. 
        <br>И ещё более впечатляющими снимками 
        <br>при слабом освещении. 
        <br>Всё в пяти великолепных цветах.</p>
        </div>
        <img class=f3 src="{% static 'red/img/Group 10 (1).png' %}">
    </div>  
{% endblock %}