{% load static humanize %}



<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="{% static 'red/css/index.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
	<div class="contr">
        <div class="head">
        <div class="d8">
        <div class="side-button-1-wr">
            <label class="side-button-1" for="side-checkbox">
                <div class="side-b side-open"><img class=php14 src="{% static 'red/img/Group 14.png' %}"></div>
            </label>
        </div>
            <form action="{% url 'products:search' %}" method="get">
                <input type="text" placeholder="Поиск в AppleStore" name="q">
            </form>
    </div>
    <input type="checkbox" id="side-checkbox" />
    <div class="side-panel">
        <label class="side-button-2" for="side-checkbox">+</label>    
        <div class="side-title"><a>Меню:</a></div>
        <nav class="one">
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'products:catalog' %}">Каталог</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'products:basket' %}">Корзина</a></li>
                    {% if user.is_stuff or user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">stuff</a></li>
                    {% endif %}
                <li><a href="{% url 'users:logout' %}">Выйти</a></li>
                {% else %}
                <li><a href="{% url 'users:login' %}">Войти</a></li>
                {% endif %}
                <li><a href="https://web.telegram.org/a/#5798143602">Наш Телеграм</a></li>
            </ul>
        </nav>
    </div>
    <div class="txt_1">
        <div class="pouring">Вся линейка iPhone <br>по самой лучшей цене</div>
    </div>
    <div class="first_cont">
        <div class="txt_2">
            <h1>iPhone 14. Большой.И пребольшой.</h1>
            <p>Встречайте iPhone 14 и 
            <br>большой iPhone 14 Plus. С 
            <br>функцией распознавания аварий. Сроком 
            <br>службы батареи больше, чем когда-либо. 
            <br>И ещё более впечатляющими снимками 
            <br>при слабом освещении. 
            <br>Всё в пяти великолепных цветах.</p>
        </div>
        <img class=f3 src="{% static 'red/img/Group 10 (1).png' %}">
    </div>  
    <div class="container flex-test-wrap">
        <div class="pouring">Новые модели. Выбирайте.</div>
        <p class=in_cat>Новое поступление запакованных iPhone, пожалуй,по самым лучшим ценам и условиям рассрочки!</p>
        <div class="product">
        {% for category in categories_iphone %}
        <div class="carde"> 
        <div class="card">
            <div class="card__top">
                <a href="{% url 'products:category' category.id %}" class="card__image"><img src="{{ category.image.url }}" alt="Apple iPhone PRO MAX"/></a>
            </div>
            <div class="card__bottom">
                <a href="{% url 'products:category' category.id %}" class="card__title"> {{ category.name }}</a>
            </div>
        </div>
        </div>
        {% endfor %}
        </div>
    </div>
    <div class="ads">
        <div class="adse">
            <div class="ad_1">
                <p class=p_ad>30% на аксессуары для твоего iPhone</p>
                <img class=php25 src="{% static 'red/img/image 25.png' %}">
            </div>
        </div>
        <div class="adse">
            <div class="ad_2">
                <p class=p_ad1>TRADE-IN Получи до 50 000 руб. на новое устройство</p>
                <img class=php_24 src="{% static 'red/img/image 22.png' %}">
            </div>
        </div>    
        <div class="adse">
            <div class="ad_3">
                <p class=p_ad1>Новый iPhone сейчас, а плати потом! Одобрение 98% заявок.</p>
                <img class=php_24 src="{% static 'red/img/image 23.png' %}">
            </div>
        </div>   
        <div class="adse">
            <div class="ad_4">
                <p class=p_ad>Получи до 50 000 руб. на новое устройство</p>
                <img class=php_24 src="{% static 'red/img/image 24.png' %}">
            </div>
        </div>   
    </div>
    <img class=php26 src="{% static 'red/img/image 26.png' %}">
	<div class="airpods">
        <div class="pouring">AirPods. Чтобы любимые <br>песни зазвучали по‑новому.</div>
        <p class=pods>Звук высокой чёткости. Активное<br> шумоподавление и Прозрачный<br> режим. Пространственное аудио на<br> AirPods создаёт ощущение объёмного<br> звука — будто в кинотеатре.От 9 500 pyб.</p>
        <img class=php30 src="{% static 'red/img/image 30.png' %}">
    <div class="aircat">
    <!-- Товар #1 -->
    {% for airpod in categories_pods %}
        <div class="carde_pod"> 
        <div class="card">
            <div class="card__top">
                <a href="{% url 'products:category' airpod.id %}" class="card__image"><img src="{{ airpod.image.url }}" alt="Apple AirPods 2"/></a>
                
            </div>
            <div class="card__bottom">
                <a href="{% url 'products:category' airpod.id %}" class="card__title">{{ airpod.name }}</a>
            </div>
        </div>
        </div>
    {% endfor %}
    </div>
    </div>
    	<div class="watchs">
        <div class="pouring">Watch. Чтобы достижения <br>были выше.</div>
        <p class=pods>Когда на вашем запястье Apple<br> Watch Series 7, гораздо проще<br> вести более здоровый образ<br> жизни, быть активнее и<br> оставаться на связи<br>От 23 990 pyб.</p>
        <img class=php30 src="{% static 'red/img/image 35 (1).png' %}">
    <div class="aircat">
    <!-- Товар #1 -->
    {% for watch in categories_watch %}
        <div class="carde_watch"> 
        <div class="card">
            <div class="card__top">
                <a href="{% url 'products:category' watch.id %}" class="card__image"><img src="{{ watch.image.url }}" alt="Apple Watch S6 40mm Gold"/></a>
                
            </div>
            <div class="card__bottom">
                <a href="{% url 'products:category' watch.id %}" class="card__title">{{ watch.name }}</a>
            </div>
        </div>
        </div>
    {% endfor %}
    </div>
    </div>
    <img class=php26 src="{% static 'red/img/image 45.png' %}">
    <div class="watchs">
        <div class="pouring">iPad. Чтобы идеи вырастали большими.</div>
        <p class=pods>iPad mini с новым чипом A15 Bionic,<br> Apple Pencil (2‑го поколения) и<br> такими приложениями, как<br> Procreate и iMovie, поможет вам<br> полнее раскрыть свой творческий<br> потенциал.<br></p>
        <img class=php46 src="{% static 'red/img/image 46.png' %}">
    <div class="aircat">
    <!-- Товар #1 -->
    {% for ipad in categories_ipad %}
        <div class="carde_watch"> 
        <div class="card">
            <div class="card__top">
                <a href="{% url 'products:category' ipad.id %}" class="card__image"><img src="{{ ipad.image.url }}" alt="iPad 9 (2020)"/></a>
            </div>
            <div class="card__bottom">
                <a href="{% url 'products:category' ipad.id %}" class="card__title">{{ ipad.name }}</a>
            </div>
        </div>
        </div>
    {% endfor %}
    </div>
    </div>
    <img class=php26 src="{% static 'red/img/image 52.png' %}">
    <div class="watchs">
        <div class="pouring">Чтобы сложные задачи решались легко.</div>
        <p class=pods>Новый MacBook Pro с дисплеем<br> Liquid Retina XDR отличается<br> новым дизайном и оснащается<br> мощным чипом — M1<br> Pro или M1 Max.</p>
        <img class=php53 src="{% static 'red/img/image 53.png' %}">
    <div class="book">
        {% for mac in categories_mac %}
        <div class="carde_watch"> 
        <div class="card">
            <div class="card__top">
                <a href="{% url 'products:category' mac.id %}" class="card__image"><img src="{{ mac.image.url }}" alt="MacBook"/></a>
            </div>
            <div class="card__bottom">
                <a href="{% url 'products:category' mac.id %}" class="card__title">{{ mac.name }}</a>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>
    </div>
    <div class="footer">
        <div class="inf">
        <p class=pfoot><strong>Информация:</strong><br>
        Возврат и обмен<br>
        Получение и оплата<br>
        Доставка и самовывоз<br>
        Ответы на частые вопросы</p>
        </div>
        <div class="inf">
        <p class=pfoot><strong>Создатели:</strong><br>
        <strong>Frontend</strong> tg:@mmshkurin<br>
        <strong>Backend</strong> tg:@VrmnPtrn
        </p>
        </div>
        <div class="inf">
        </div>
        <div class="inf">
        </div>
    </div>
    </div>		
    </body>
</html>